# NotifyHub API Environment Variables
API_PORT=

# POSTGRESQL Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASS=

# REDIS Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

# RABBITMQ Configuration
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_AMQ_PORT=